apiVersion: v1
kind: ConfigMap
metadata:
  name: userpods
  namespace: {{ .Release.Namespace }}
data:
  HOME_STORAGE: "{{ .Values.userPods.storage.home.type }}"
  HOME_PREFIX: "{{ .Values.userPods.storage.home.prefix }}"
  HOME_FORMAT: "{{ .Values.userPods.storage.home.format }}"
  PROJECT_STORAGE: "{{ .Values.userPods.storage.project.type }}"
  PROJECT_PREFIX: "{{ .Values.userPods.storage.project.prefix }}"
  PROJECT_FORMAT: "{{ .Values.userPods.storage.project.format }}"
  POD_DOMAIN: "{{ .Values.appDomain }}"
  ENVOY_CONTAINER: "{{ .Values.images.envoy.repository }}:{{ .Values.images.envoy.tag }}"
  ENVOY_TEMPLATE: |
    admin:
      access_log_path: /tmp/admin_access.log
      address:
        socket_address:
          protocol: TCP
          address: 0.0.0.0
          port_value: {{ .Values.userPods.envoy.adminPort }}
    static_resources:
      listeners:
      - name: listener_0
        address:
          socket_address:
            protocol: TCP
            address: 0.0.0.0
            port_value: {{ .Values.userPods.envoy.externalPort }}
        filter_chains:
        - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              upgrade_configs:
              - upgrade_type: websocket
              stat_prefix: ingress_http
              codec_type: AUTO
              route_config:
                name: local_route
                virtual_hosts:
                - name: local_service
                  domains: ["*"]
                  routes:
                  - match:
                      prefix: "/"
                      {{- with .Values.userPods.envoy.match }}
                      {{- toYaml . | nindent 22 }}
                      {{- end}}
                    route:
                      cluster: local_proxy
              http_filters:
              - name: envoy.filters.http.router
      clusters:
      - name: local_proxy
        connect_timeout: 0.25s
        type: STATIC
        lb_policy: ROUND_ROBIN
        load_assignment:
          cluster_name: local_proxy
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: 127.0.0.1
                    port_value: <SERVICEPORT>
    layered_runtime:
      layers:
      - name: static_layer_0
        static_layer: {}
